<!-- BASE=t_layout.html -->
<!-- BEGIN=content -->
<style>

</style>

<div class="row">
   <div class="col-7">
      <h3>SSL Self Signed Cert</h3>
   </div>
</div>
<div class="row">
   <div class="col-7">
      <!-- BEGIN=gen_cert_btn -->
      <input type="submit" class="btn btn-info" name="action_gen_cert" value="Generate New Self-Signed Cert">
      <!-- END=gen_cert_btn -->

      <!-- BEGIN=regen_cert_btn -->
      <input type="submit" class="btn btn-info"  name="action_gen_cert" value="ReGenerate New Self-Signed Cert">
      <!-- END=regen_cert_btn -->
   </div>
</div>

<div class="row">
   <div class="col-7">
      <!-- BEGIN=nic_blk -->
      <h3>Interface: $if_name</h3>
      <table class="table table-bordered table-striped">
         <tr><th>IP Address</th><td>$ip_address</td></tr>
         <tr><th>Netmask</th><td>$netmask</td></tr>
         <tr><th>Gateway</th><td>$gateway</td></tr>
         <tr><th>Mac Address</th><td>$mac</td></tr>
      </table>
      <!-- END=nic_blk -->
   </div>
</div>

<div class="row">
   <div class="col">
      <!-- BEGIN=log_row -->
      <div class="ll"> $log_line </div>
      <!-- END=log_row -->
      <!-- BEGIN=no_events -->
      <div style="color:green;font-weight:bold;"> No Power Down Events Since Last Boot $uptime_str ago </div>
      <!-- END=no_events -->
   </div>
</div>

<div class="row">
   <div class="col-xs-12" style="text-align:right;font-size:.7em;margin-top:50px;">
      Version: $version
   </div>
</div>

<script type="text/javascript">

</script>
<!-- END=content -->
