<!-- BASE=t_layout.html -->
<!-- BEGIN=content -->
<style>
.disabled
{
   background: none repeat scroll 0 0 burlyWood;
   disabled:True;
}

th { width: 35%;}
</style>

<div class="row">
   <div class="col">
      <h3>Firmware Upload</h3>
      <hr>
   </div>
</div>
<form action="/webpanel/firmware/upload_rtn" id="submit_form" method="POST" enctype="multipart/form-data">
  
<div class="row">
   <div class="col-3">
      <h4>Firmware Package:</h4>
   </div>
   <div class="col-4">
      <input type="file" class="btn btn-primary" name="upload_file" style="" />
      
   </div>
   <div class="col-2">
      <input style="margin:auto;" class="btn btn-primary" type="submit" value="Upload Package" />
   </div>
</div>
<br>
<div class="row">
   <div class="col-xs-12" style="text-align:right;font-size:.7em;margin-top:50px;">
      Version: $version
   </div>
</div>

<script type="text/javascript">

$( document ).ready(function() {

   function set_disable_enable()
   {
      if ( $("#dhcp").is(':checked') )
      {
         $("input[type='text']").prop( "disabled", true );
      }
      else
      {

         $("input[type='text']").prop( "disabled", false );
      }
   }

   $( "input[name='ip_method']" ).click( set_disable_enable );

   set_disable_enable();
});

function sleep(ms) {
  return new Promise(resolve = setTimeout(resolve, ms));
}

$( "#submit_form" ).submit(function( event )
{
    $( "#submit_btn" ).prop("disabled",true);
    $.LoadingOverlay("show", {background  : "rgba(255, 255, 255, 0.35)", text:"Reconfiguring Interface"})

    // doesn't work
    await sleep(5000);
    window.location.replace("/webpanel/");

});


</script>
<!-- END=content -->
