<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Login</title>
</head>
<body>

<div style="margin:0 auto; width:300px;border:1px solid black;background-color:#77ddbb">
<div style="margin:7px;">
   <h3>Log In</h3>
      <form method="post" action="$url_login">
      <input type="hidden" name="from_page" value="$from_page" />
         <h4 style="margin-top:10px;margin-bottom:20px;color:red">$msg</h4>
         <table class="table">
            <tr><td>Username:</td><td> <input type="text" name="username" value="$username" /></td></tr>
            <tr><td>Password:</td><td> <input type="password" name="password" /> </td></tr>
          </table>
         <div style="text-align:center;margin-top:17px;">
         <input  type="submit" value="LOG IN" />
         </div>
      </form>
      <hr>
      <div style="text-align:center;margin-top:17px;">
      <form method="post" action="/webpanel/auth/cred_crud">
         <input type="hidden" name="from_page" value="$from_page" />
         <input type="submit" style="font-size:.7em;" value="Change Credentials" />
      </form>
      </div>

</div>
</div>
</body>
</html>
